In [1017]:
import pandas as pd
iris = pd.read_csv("Iris.csv").reset_index(drop=True)

In [1018]:
from sklearn.utils import shuffle
iris = shuffle(iris)

In [1019]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
73,74,6.1,2.8,4.7,1.2,Iris-versicolor
94,95,5.6,2.7,4.2,1.3,Iris-versicolor
55,56,5.7,2.8,4.5,1.3,Iris-versicolor
1,2,4.9,3.0,1.4,0.2,Iris-setosa
110,111,6.5,3.2,5.1,2.0,Iris-virginica
...,...,...,...,...,...,...
144,145,6.7,3.3,5.7,2.5,Iris-virginica
115,116,6.4,3.2,5.3,2.3,Iris-virginica
14,15,5.8,4.0,1.2,0.2,Iris-setosa
116,117,6.5,3.0,5.5,1.8,Iris-virginica
96,97,5.7,2.9,4.2,1.3,Iris-versicolor

In [1020]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 73 to 96
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 8.2+ KB

In [1021]:
iris['Species'][iris['Species']=="Iris-setosa"] = 0
iris['Species'][iris['Species']=="Iris-versicolor"] = 1
iris['Species'][iris['Species']=="Iris-virginica"] = 2

C:\Users\Asus\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Asus\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [1022]:
iris['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64

In [1023]:
length = 0.94
split = int(length * len(iris))
train_set, test_set = iris[:split], iris[split:]

In [1024]:
train_set = train_set.reset_index(drop = True)

In [1025]:
train_set

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0     74            6.1           2.8            4.7           1.2       1
1     95            5.6           2.7            4.2           1.3       1
2     56            5.7           2.8            4.5           1.3       1
3      2            4.9           3.0            1.4           0.2       0
4    111            6.5           3.2            5.1           2.0       2
..   ...            ...           ...            ...           ...     ...
136   48            4.6           3.2            1.4           0.2       0
137   84            6.0           2.7            5.1           1.6       1
138   39            4.4           3.0            1.3           0.2       0
139  115            5.8           2.8            5.1           2.4       2
140   19            5.7           3.8            1.7           0.3       0

[141 rows x 6 columns]

In [1026]:
test_set = test_set.reset_index(drop = True)

In [1027]:
test_set

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   38            4.9           3.1            1.5           0.1       0
1   53            6.9           3.1            4.9           1.5       1
2  150            5.9           3.0            5.1           1.8       2
3   64            6.1           2.9            4.7           1.4       1
4  145            6.7           3.3            5.7           2.5       2
5  116            6.4           3.2            5.3           2.3       2
6   15            5.8           4.0            1.2           0.2       0
7  117            6.5           3.0            5.5           1.8       2
8   97            5.7           2.9            4.2           1.3       1

In [1028]:
y_true = test_set['Species']

In [1029]:
y_true = y_true.astype('int64')

In [1030]:
y_true_numpy = y_true.to_numpy()

In [1031]:
y_true_numpy

array([0, 1, 2, 1, 2, 2, 0, 2, 1], dtype=int64)

In [1032]:
x_test_set = test_set.drop(["Id","Species"],axis = 1)

In [1033]:
x_test_set

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            4.9           3.1            1.5           0.1
1            6.9           3.1            4.9           1.5
2            5.9           3.0            5.1           1.8
3            6.1           2.9            4.7           1.4
4            6.7           3.3            5.7           2.5
5            6.4           3.2            5.3           2.3
6            5.8           4.0            1.2           0.2
7            6.5           3.0            5.5           1.8
8            5.7           2.9            4.2           1.3

In [1034]:
target = train_set["Species"]

In [1035]:
target = target.astype('int64')

In [1036]:
target

0      1
1      1
2      1
3      0
4      2
      ..
136    0
137    1
138    0
139    2
140    0
Name: Species, Length: 141, dtype: int64

In [1037]:
drop_features = ["Id","Species"]
x_train_data = train_set.drop(drop_features,axis = 1)

In [1038]:
x_train_data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              6.1           2.8            4.7           1.2
1              5.6           2.7            4.2           1.3
2              5.7           2.8            4.5           1.3
3              4.9           3.0            1.4           0.2
4              6.5           3.2            5.1           2.0
..             ...           ...            ...           ...
136            4.6           3.2            1.4           0.2
137            6.0           2.7            5.1           1.6
138            4.4           3.0            1.3           0.2
139            5.8           2.8            5.1           2.4
140            5.7           3.8            1.7           0.3

[141 rows x 4 columns]

In [1039]:
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_predict

In [1040]:
svc = SVC()
svc.fit(x_train_data, target)

C:\Users\Asus\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [1041]:
y_train_pred = cross_val_predict(svc, x_train_data, target, cv=3)

C:\Users\Asus\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Asus\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\Asus\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [1042]:
predict = svc.predict(x_test_set)

In [1043]:
predict

array([0, 1, 2, 1, 2, 2, 0, 2, 1], dtype=int64)

In [1048]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_true_numpy, predict, labels = [0,1,2])

array([[2, 0, 0],
       [0, 3, 0],
       [0, 0, 4]], dtype=int64)